<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sauron</title>

    <!-- Bootstrap -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- App css -->
    <link href="/static/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <!--
    <script src="/node_modules/html5shiv/dist/html5shiv.min.js"></script>
    <script src="/node_modules/respond.js/dest/respond.min.js"></script>
    -->
    <![endif]-->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/chart.js"></script>



</head>

<body class="{% if hiddenBody == true %}hidden{% endif %}">

    {% include "main-menu.twig" %}

    {% block body %}

    {% endblock %}

    {% block script %}

    {% endblock %}


</body>
</html>