{{>main-menu activeOption='sprint'}}

<div class="container-fluid main-content">

    <div class="row">

        <div class="col-md-2 hidden-print">
            {{> sprint-menu activeOption='rsit'}}
        </div>

        <div class="col-md-10">

            {{> report-summary title='Resumen de tareas agrupadas por situación' labelTipo='Situación' data=data}}
        </div>

    </div>

</div>
