{% extends "layout.twig" %}

{% set mainMenuOption = "sprint" %}

{% block body %}

    <div class="container-fluid main-content">

        <div class="row">

            <div class="col-md-3 hidden-print">
                {%  include "sprint/sprint-menu.twig" %}
            </div>

            <div class="col-md-9">

                <div class="row">

                    <div class="col-md-12">
                        <h3 style="margin: 0" class="text-primary">
                            {% block reporttitle %}Titulo del Report{% endblock %}
                        </h3>
                        <hr class="hr-report"/>
                    </div>

                    <div class="col-md-12">
                        {% block reportsummary %}

                        {% endblock %}
                    </div>

                    <div class="col-md-12">
                        {% block reportdetail %}

                        {% endblock %}
                    </div>

                </div>


            </div>


        </div>

    </div>

{% endblock %}
