{% extends "layout.twig" %}

{% set mainMenuOption = "sprint" %}

{% block body %}

    <div class="container-fluid main-content">

        <div class="row">

            <div class="col-md-3 hidden-print">
                {%  include "sprint/sprint-menu.twig" %}
            </div>

            <div class="col-md-9">

                {% block sprintbody %}

                {% endblock %}

            </div>


        </div>

    </div>

{% endblock %}
